.word-cloud {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #c5c0d8;
}

.competence-container {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  font-size: 28px;
  transition: transform 0.3s, opacity 0.3s;
}

.word.hovered {
  transform: scale(1.5);
  color: #9c8dbb;
  padding: 0 40px;
}

.word.faded {
  opacity: 0.3;
}

@media (max-width: 480px) {
  .word {
    font-size: 22px;
  }
}
