.container {
  width: 100%;
}

.headingExperience {
  color: rgb(222, 218, 226);
  margin-bottom: 20px;
  margin-left: 90px;
  font-size: 40px;
}

.headingCompetence {
  color: rgb(222, 218, 226);
  margin-top: 60px;
  margin-left: 90px;
  font-size: 40px;
}

@media (max-width: 480px) {
  .headingExperience {
    font-size: 28px;
    margin-left: 30px;
  }
  .headingCompetence {
    font-size: 28px;
    margin-left: 30px;
  }
}
